<h1 class="center">Please stand on the scales</h1>

<table class="two-col border" style="width: 75%; margin-left: auto; margin-right: auto;">
  <tr>
    <td style="text-align: center;vertical-align: middle;">
      <br /><br /><br /><br /><br />
      [Image of patient on scales]
      <br /><br /><br /><br /><br /><br />
    </td>
    <td style="vertical-align: middle;">
      <div id="instructions">
        <p>Stand up straight on the scales.</p>
        <p>Listen for a "beep".</p>
        <p>The scales will measure your height and weight.</p>
      </div>
      <div id="bmi"></div>
    </td>
  </tr>
</table>


<% content_for :footer_left do %>
  <%= link_to "Exit", root_url, class: 'nav exit' %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button nil, full_name_url %>
<% end %>

<script>
$(document).ready(function() {
  ajax_url = '<%= bmi_read_url %>';
  next_url = '<%= full_name_url %>'

  $.ajax({
    url: ajax_url,
    success: function (data) {
        $('#instructions').hide();
        html =  '<p>Your weight is ' + data.weight + ' Kg</p>'
        html += '<p>Your height is ' + data.height + ' cm</p>'
        // html += '<p>Your BMI is ' + data.bmi + '</p>'
        $('#bmi').html(html).show();
        $('#next').removeClass('disabled').attr('href', next_url);
    },
    error: function () {
      alert('Error');
    }
  });
});
</script>
