<label class="nav exit" onclick="showExitModal(); return false;">Exit</label>

<div id="exit-model-content" style="display: none;">
  <h1 class="center" style="margin-bottom: 5rem;">Are you sure you want to exit?</h1>
  <table class="two-col" style="width: 30rem;">
    <tr>
      <td><button type="button" class="btn btn-primary" onclick="exit();return false;">Yes</button></td>
      <td style="text-align: right;"><button type="button" class="btn btn-secondary modal-close" for="exit-modal">No</button></td>
    </tr>
  </table>
</div>

<%= render :partial => 'partials/modal' %>

<script>

var exitDialogContent;

$(document).ready(function() {
  exitDialogContent = $("#exit-model-content").detach();
});

function showExitModal() {
  showModal(exitDialogContent);
};

function exit() {
  window.location = '<%= exit_url %>';
}

</script>
