<h1 class="center">Thank you</h1>

<p style="text-align: center;">
  We'll be in touch soon
</p>

<script>
$(document).ready(function() {
  $("#next").removeClass("disabled");
});
</script>

<% content_for :footer_left do %>
<% end %>
<% content_for :footer_center do %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button nil, root_url, "Finish" %>
<% end %>

<%= render :partial => 'partials/timeout_modal' %>
