<h1 class="center">Did you visit the website shown on your health report card?</h1>

<table class="two-col"style="margin-top: 10rem;">
  <tr>
    <td style="text-align: right;">
      <div class="btn btn-secondary large" onclick="submit(1)">Yes</div>
    </td>
    <td>
      <div class="btn btn-secondary large"  onclick="submit(0)">No</div>
    </td>
  </tr>
</table>

<%= form_tag returning_user_q5_url, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[returning_user_q5]', '' %>
<% end %>

<script>
function submit(val) {
  $('#user_data_returning_user_q5').val(val);
  $('#form').submit();
}
</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
<% end %>
<% content_for :footer_right do %>
  <span style="visibility: hidden;"><%= next_button "$('#form').submit();" %></span>
<% end %>
