<h1 class="center">What other steps did you take after using the health pod?</h1>

<%= form_tag returning_user_q4_url, { :id => "form", :autocomplete => "off" } do |f| %>

  <div style="text-align: center; width: 75%; margin-left: auto; margin-right: auto;">
      <input type="text" id="returning_user_q4" name="user_data[returning_user_q4]" value=""
        placeholder="" data-osk-options="disableReturn disableTab disableSymbols">
  </div>

<% end %>

<script>
$(document).ready(function() {
  $('#next').removeClass('disabled');
  field = $('#returning_user_q4');

  field.onScreenKeyboard({ topPosition: '28%', leftPosition: '19%'});
  field.click();
  field.focus();

});
</script>

<% content_for :footer_left do %>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>

<%= render :partial => 'partials/timeout_modal' %>
