<table class="two-col" style="width: 100%; margin-top: 4rem;">
  <tr>
    <td class="right" style="width: 40%; vertical-align: top;">
      <%= image_tag "logo.svg", style: "height: 250px;" %>
    </td>
    <td style="width: 60%; padding-top: 2rem; padding-right: 14rem">
      <div class="title">Welcome</div>
      <p>This Health Pod gives you an easy way to keep track of your personal health by collecting some basic health information.</p>
      <p>After answering a few questions and measuring your height and weight, you will receive a personalised health report card
        that you can take home or discuss with your health professional at your next appointment.</p>
      <p>You are welcome to return to the Pod at any time to add additional information and update your report card.</p>
      <p>Press start to begin.</p>
    </td>
  </tr>
</table>

<% content_for :footer_right do %>
  <%= link_to "Start", consent_path, class: "nav next" %>
<% end %>
