<h1 class="center">
  Alcohol consumption
</h1>

<p style='text-align: center;'>
  Standard drink sizes
</p>

<div style="text-align: center; margin: 5rem auto;">
  <%= image_tag "drink_sizes.svg", style: "width: 58rem;" %>
</div>

<% content_for :footer_left do %>
  <%= link_to hub_url, class: "nav exit" do %>
    <%= image_tag 'chevron-thin-left.svg' %>
    Back to health report
  <% end %>
<% end %>
<% content_for :footer_center do %>
  <%#= progress_bar(@percent_complete, @minutes_remaining) %>
<% end %>
<% content_for :footer_right do %>
  <%= link_to "Next", alcohol_frequency_path, class: "nav next" %>
<% end %>
