<h1 class="center">Your full name</h1>

<%= form_tag full_name_path, { :id => "form" } do |f| %>

  <%= text_field_tag :full_name %>

<% end %>

<% content_for :footer_left do %>
  <%= link_to "Exit", root_url, class: "nav exit" %>
<% end %>
<% content_for :footer_right do %>
  <%= link_to "Next", "#", class: "nav next", onclick: "$('#form').submit();return false;" %>
<% end %>
