<div class="row">
  <div class="col-sm-12">
    <h1>Welcome</h1>
    <p>
      Introductory text...
    </p>
    <p>
      Press to start to begin
    </p>
  </div>
</div>

<% content_for :footer_right do %>
  <%= link_to "Start", consent_path, class: "nav next" %>
<% end %>
