<h1 class="center">Country of birth</h1>

<%= form_tag country_of_birth_path, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[country_of_birth]', '' %>
<% end %>

<script>
$(document).ready(function() {
  $('#next').removeClass('disabled');
});
</script>

<% content_for :footer_left do %>
  <%= link_to "Exit", root_url, class: "nav exit" %>
<% end %>
<% content_for :footer_center do %>
  <%# progress_bar(@percent_complete, @minutes_remaining) %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>
