<h1 class="center">Your full name</h1>

<%= form_tag full_name_path, { :id => "form", :autocomplete => "off" } do |f| %>

  <div style="text-align: center; width: 75%; margin-left: auto; margin-right: auto;">
      <%= text_field_tag 'user_data[full_name]', nil, id: 'full_name' %>
  </div>

<% end %>

<script>
$(document).ready(function() {
  full_name = $('#full_name');
  full_name.on('input', function() {
    if (full_name.val().trim().length > 2) {
      $('#next').removeClass('disabled');
    } else {
      $('#next').addClass('disabled');
    }
  });
});
</script>

<% content_for :footer_left do %>
  <%= link_to "Exit", root_url, class: "nav exit" %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>
