/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */

$border-radius: 5px;

$green: green;
$dark-green: darken($green, 5%);

* {
  font-family: "Open Sans";
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

#main {
  padding: 2rem 4rem;
}

#header {
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #eee;

}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  //height: 10rem;
  padding: 2rem 4rem 4rem 4rem;
  background-color: #eee;

  table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    td {
      padding: 0;
    }
  }
}

a.nav, input.nav {

  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: $border-radius;

  &:visited {
   text-decoration: none;
  }

  &.exit {
    background-color: #808080;
    color: #fff;
    border-bottom: solid 4px #555;
    &:active {
      background-color: #555;
    }
  }

  &.next {
    background-color: $green;
    color: #fff;
    border-bottom: solid 4px $dark-green;
    &:active {
     background-color: $dark-green;
    }
  }

  &.disabled {
   color: #ddd;
   cursor: default;
  }
}

h1 {
  font-size: 2rem;

  &.center {
    text-align: center;
  }
}

p {
  margin: 1rem 0;
  font-size: 1.25rem;
}

table.two-col-centered {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}
