/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */

$border-radius: 5px;
$light-border: solid 1px #ddd;
$margin: 6rem;
$fore-color: #111;

$green: green;
$dark-green: darken($green, 5%);
$yellow: #E3C170;
$light-yellow: #FAD57E;
$orange: #EE9E35;
$teal: #B2D8C4;
$dark-teal: #A2C2B1;
$purple: #9999B0;
$dark-purple: #888494;
$very-dark-purple: darken($dark-purple, 20%);
$blue: #9FD5DC;
$dark-blue: #90BEC5;
$very-dark-blue: darken($dark-blue, 15%);
$red: #EA9185;
$dark-red: #D98377;

@import './main';
@import './modal';
